@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.gf-grid {
  background-color: #F8FAFC;
  background-image:
    linear-gradient(#D6DBE5 1px, transparent 1px),
    linear-gradient(90deg, #D6DBE5 1px, transparent 1px);
  background-size: 100px 100px;
}

