@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

.font-title {
    font-family: var(--font-title);
}

.font-sans {
    font-family: var(--font-body);
}

.gf-grid {
  background-color: #F8FAFC;
  background-image:
    linear-gradient(#D6DBE5 1px, transparent 1px),
    linear-gradient(90deg, #D6DBE5 1px, transparent 1px);
  background-size: 100px 100px;
}

.gf-grid-blue {
  background-color: #E6B52C;
  background-image:
    linear-gradient(#a98a36 1px, transparent 1px),
    linear-gradient(90deg, #a98a36 1px, transparent 1px);
  background-size: 100px 100px;
}

@layer utilities {
  .text-outline {
    -webkit-text-stroke: 1px #1C2B5A;
  }
  
  .text-outline-white {
    -webkit-text-stroke: 1px white;
  }

  .text-transparent-outline {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px #E6B52C;
  }

  @media (min-width: 768px) {
    .text-transparent-outline {
      -webkit-text-stroke: 4px #E6B52C;
    }
  }
}
